.draggable {
	 width: 90px;
	 height: 90px;
	 padding: 0.5em;
	 float: left;
	 margin: 0 10px 10px 0;
 }

#jukeBox {
	 width: 200px;
	 height:643px; 
	 border:3px solid #ccc; 
	 display: inline-block; 
	 float: left;
 }
audio{
	display: block;
	padding-left: 4px;
}
body{
	    overflow: scroll;
min-width: 1400px;
background-image: url(linen_bg_tile.jpg);
}