#musicCanvas{
	font-family: "Calibri"
	display: inline-block;
	width: 790px;
	height: 630px;
	display: inline-block;
	border: 2px 2px 2px 0px;
	border-style: solid;
	border-color: gray;
	background-image: url(linen.jpg);
}

#jukeBox{
	width: 266px;
	height: 643px;
	background-color: lightgray;
;
	display: inline-block;
	float: left;
	border: 2px;
	border-style: solid;
	border-color: gray;
	}
.canvasMusic{
border: 4px;
	border-style: solid;
	border-color: white;
	border-radius: 8px;
	max-height: 128px;
	 box-shadow:         1px 1px 8px 0px black; 
}
.canvasMusicSelected{
border: 4px;
	border-style: solid;
	border-color: red;
	border-radius: 8px;
	max-height: 128px;
	 box-shadow:         1px 1px 8px 0px black; 
}
.canvasMusicPlaying{
border: 4px;
	border-style: solid;
	border-color: #3399FF;
	border-radius: 8px;
	max-height: 128px;
	 box-shadow:         1px 1px 8px 0px black; 
}
.moodBox{
	display: inline-block;
}
.mood{
	height: 200px;
	width: 200px;
	background: blue;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	display: block;

}