.jukeBoxContainer{
	font-family: "Calibri"
}

.jukeboxMusic{
border: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 8px;
	max-width: 128px;
	max-height: 128px;
}
img{
	width: 128px;
	height: 128px;
}